* {
    font: 8.25pt "Microsoft Sans Serif", "Ubuntu";
    box-sizing: border-box;
}

    *::-webkit-scrollbar {
        width: 17px;
        background-color: rgb(204, 240, 240);
        border-right: 1px solid rgb(204, 240, 240);
        border-left: 1px solid rgb(255, 255, 255);
    }

    *::-webkit-scrollbar-thumb {
        width: 15px;
        background-color: rgb(205, 205, 205);
        transition: background-color ease 100ms;
        background-clip: padding-box;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
    }

        *::-webkit-scrollbar-thumb:hover {
            background-color: rgb(166, 166, 166);
        }

        *::-webkit-scrollbar-thumb:active {
            background-color: rgb(96, 96, 96);
        }


    *::-webkit-scrollbar-button {
        width: 15px;
        height: 15px;
        background-color: rgb(204, 240, 240);
    }

        *::-webkit-scrollbar-button:hover {
            background-color: rgb(218, 218, 218);
        }

        *::-webkit-scrollbar-button:active {
            background-color: rgb(96, 96, 96);
        }

        *::-webkit-scrollbar-button:vertical:decrement {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAIAAACAbBMhAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAxSURBVBhXNcvBDQAwCMPAjur9X4xAA8avcBKvLsBVpX7a9owKV9Q5hwvUvE17RoULaPovUrHGFwP3AAAAAElFTkSuQmCC');
            background-repeat: no-repeat;
            background-position: center;
            border-right: 1px solid rgb(204, 240, 240);
            border-left: 1px solid rgb(255, 255, 255);
        }

            *::-webkit-scrollbar-button:vertical:decrement:hover {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAIAAACAbBMhAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAwSURBVBhXY7x16xYDGKipqcHZTBAKKAQnQQAuDwcoIsgcRgiFbDqQBImiGaKmpgYAtE0UInoZpsAAAAAASUVORK5CYII=');
                background-repeat: no-repeat;
                background-position: center;
            }

            *::-webkit-scrollbar-button:vertical:decrement:active {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAIAAACAbBMhAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA5SURBVBhXVYxBEgAgCAKtl+rLeKphmDPtQRcOLHe3C4CIkG89VnNJtRNIez441ZbZC1r8dieQcrMDCWAjOK9gHFsAAAAASUVORK5CYII=');
                background-repeat: no-repeat;
                background-position: center;
            }

        *::-webkit-scrollbar-button:vertical:increment {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAIAAACAbBMhAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA8SURBVBhXY0hISPiACoAiTAwMDAUFBUASAiBskCicA5dmBGpBVgsEEyZMAKkFUhA+EEDZEBuAAGHthw8ADj4wyN2zKZ0AAAAASUVORK5CYII=');
            background-repeat: no-repeat;
            background-position: center;
            border-right: 1px solid rgb(204, 240, 240);
            border-left: 1px solid rgb(255, 255, 255);
        }

            *::-webkit-scrollbar-button:vertical:increment:hover {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAIAAACAbBMhAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA2SURBVBhXY2RgYLh16xaQhAM1NTWQKBDAJYBCEAYUoOhA0w4EQBEmCAXhAwGEDRKFc6DSDAwAZR8X6Yys2QQAAAAASUVORK5CYII=');
                background-repeat: no-repeat;
                background-position: center;
            }

            *::-webkit-scrollbar-button:vertical:increment:active {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAIAAACAbBMhAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA4SURBVBhXTYzbDQAwCAJpJ8XJHJVqMI33w0PDkRQRWGTmtTgX4+vXkBwnYQdTTS/sXftuf5gz8AAqdDKKYPExGAAAAABJRU5ErkJggg==');
                background-repeat: no-repeat;
                background-position: center;
            }

        *::-webkit-scrollbar-button:horizontal:increment {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAHCAIAAACk8qu6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA9SURBVBhXY0xISGAAgwkTJkAYTHBWQUEBhMEExGiijB8+fEDmAwFIFRDA+UAdICFkPpBkfvHiBTKfgYEBAOSiF2asiUiYAAAAAElFTkSuQmCC');
            background-repeat: no-repeat;
            background-position: center;
            border-top: 1px solid rgb(204, 240, 240);
            border-bottom: 1px solid rgb(255, 255, 255);
        }

            *::-webkit-scrollbar-button:horizontal:increment:hover {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAHCAIAAACk8qu6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAuSURBVBhXY2SAgVu3bkEYTHCWmpoahMEExGiijNhVAQGcD1QBEkLmA0kMGxkYAEguFCi9fPatAAAAAElFTkSuQmCC');
                background-repeat: no-repeat;
                background-position: center;
            }

            *::-webkit-scrollbar-button:horizontal:increment:active {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAHCAIAAACk8qu6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA4SURBVBhXY/z//z8DGCQmJkIYTHDW/PnzIQwmIEYTZUxISEDmAwFIFRDA+UAdICFkPpDEsJGBAQA8ihdJfO0rigAAAABJRU5ErkJggg==');
                background-repeat: no-repeat;
                background-position: center;
            }

        *::-webkit-scrollbar-button:horizontal:decrement {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAHCAIAAACk8qu6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAzSURBVBhXY/zw4QMDGBQUFEAYTBAKzp8wYQJICJkPJJlfvHiBzAcCJjgLxSw0UQwbGRgApHsYtpyGix8AAAAASUVORK5CYII=');
            background-repeat: no-repeat;
            background-position: center;
            border-top: 1px solid rgb(204, 240, 240);
            border-bottom: 1px solid rgb(255, 255, 255);
        }

            *::-webkit-scrollbar-button:horizontal:decrement:hover {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAHCAIAAACk8qu6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAvSURBVBhXY7x16xYDGKipqUEYTBAKzgeqAAkh84EkI4QDBHATmLCbhSaKYSMDAwB8HhSaDy/3zwAAAABJRU5ErkJggg==');
                background-repeat: no-repeat;
                background-position: center;
            }

            *::-webkit-scrollbar-button:horizontal:decrement:active {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAHCAIAAACk8qu6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAzSURBVBhXY0xISGAAg/nz50MYTBAKzk9MTAQJIfOBJOP///+R+UDABGehmIUmimEjAwMA4dMWJnd5qZEAAAAASUVORK5CYII=');
                background-repeat: no-repeat;
                background-position: center;
            }

button {
    border: 1px solid rgb(173, 173, 173);
    background-color: rgb(225, 225, 225);
}

    button:hover:not(.disabled) {
        border: 1px solid rgb(0, 120, 215);
        background-color: rgb(229, 241, 251);
    }

    button:active:not(.disabled) {
        border: 1px solid rgb(0, 84, 153);
        background-color: rgb(204, 228, 247);
    }

    button:focus {
        border: 2px solid rgb(0, 120, 215);
        outline: none;
    }

input {
    border: 1px solid rgb(122, 122, 122);
    transition: border 100ms ease;
    text-indent: 3px;
}

    input:hover:not(.disabled) {
        border: 1px solid rgb(23, 23, 23);
    }

    input:active:not(.disabled) {
        border: 1px solid rgb(0, 120, 215) !important;
    }

    input:focus {
        border: 1px solid rgb(0, 120, 215) !important;
        outline: none !important;
    }

    input[readonly]:not(:disabled) {
        background-color: rgb(240, 240, 240) !important;
    }

    input[type=checkbox] {
        -webkit-appearance: none;
        border: 1px solid rgb(51, 51, 51) !important;
        width: 13px;
        height: 13px;
        vertical-align: middle
    }

        input[type=checkbox] + label {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        input[type=checkbox]:checked {
            -webkit-appearance: none;
            background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAIAAAAmzuBxAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABSSURBVChTpY/JDcAwCMAYj11YkHkYgm/qiiqqBFUe9SvEVg5ZJ34UEaGq7j4Xpc0sM4firRmFc5jZHTUIK+aKuob7lh11Dc87KuoaPn+7ORVrXbo/Qb5jc9mpAAAAAElFTkSuQmCC') repeat 0 0;
        }

        input[type=checkbox]:hover:not(.disabled) {
            -webkit-appearance: none;
            border: 1px solid rgb(0, 120, 215) !important;
        }

        input[type=checkbox]:active:not(.disabled) {
            -webkit-appearance: none;
            border: 1px solid rgb(0, 84, 153) !important;
            background-color: rgb(204, 228, 247) !important;
        }

        input[type=checkbox]:hover:checked:not(.disabled) {
            -webkit-appearance: none;
            border: solid 1px rgb(0, 84, 153) !important;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAIAAAAmzuBxAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABjSURBVChTY/hPCOBTsefyByCJU0XbpmcMFdfvv/yBXQVEGmoGUBUQQSQgAFkaCBjKVz5RbroJV4QmDQQMX3/8DZ52H6IIUxoIQO6AKALKYUoDAdSlEEWY0kCALzwggJCK//8Ba5NNFryLmiMAAAAASUVORK5CYII=') !important;
        }

        input[type=checkbox]:active:checked:not(.disabled) {
            -webkit-appearance: none;
            border: 1px solid rgb(0, 84, 153) !important;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAIAAAAmzuBxAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACESURBVChTYzzz5DsDXsAEpbGBU5ceAEmcKuZtOJE179CzVx+wqwBKTztwa1qSnZSYABNQFRBBZcAALm2mpwDkMrMou03act5BR4aXmwNTGgiY0oMt1cX40iftAJqEKQ0EIN/++Pm7ZubuA/feAPlo0kAADQ+IojAHLTRpIKAsxECAgQEAU81I4YV4nf4AAAAASUVORK5CYII=') !important;
        }

table {
    border-spacing: 0;
    font: initial !important;
    background-color: white;
}

div[scope="table"] {
    outline: 1px solid black !important;
    background-color: rgb(171, 171,172);
}

th {
    border-bottom: solid 1px rgb(160, 160, 160) !important;
    border-top: solid 1px rgb(160, 160, 160) !important;
    font-weight: normal;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

    th:hover:not(.disabled) {
        cursor: default;
        background-color: rgb(217, 235, 249);
    }

    th:not(:last-child) {
        box-shadow: 1px 0px 0px 0px rgb(229, 229, 229);
    }

    th:first-child {
        border-left: solid 1px rgb(160, 160, 160) !important;
    }

    th:last-child {
        border-right: solid 1px rgb(229, 229, 229) !important;
    }

    th:not(:first-child) {
        padding-left: 4px;
    }

td {
    border-bottom: 1px solid rgb(160, 160, 160) !important;
    padding-right: 3px;
}

    td:not(:last-child) {
        box-shadow: 1px 0px 0px 0px rgb(160, 160, 160);
    }

    td:not(:first-child) {
        padding-left: 6px;
    }

    td:last-child {
        border-right: 1px solid rgb(160, 160, 160) !important;
    }

    td:first-child {
        border-left: 1px solid rgb(160, 160, 160) !important;
    }

div[scope="progress"] {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(188, 188, 188) !important;
}

    div[scope="progress"] div {
        background-color: rgb(6, 176, 37);
        height: 100%;
        left: 0;
        top: 0;
        transition: width 110ms ease;
    }

tr.table-active {
    background-color: rgb(0, 120, 215);
    color: white;
}

tr:hover {
    background-color: lightgrey;
    filter: brightness(90%);
}

tr.table-primary {
    background-color: rgb(0, 120, 215);
    color: white;
}


select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    border: 1px solid rgb(122, 122, 122);
    transition: border 100ms ease;
    text-indent: 3px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAGCAIAAAB8eTjrAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABRSURBVChTdYyLCcAwCETtAk7oig7iOLqAvSSm0HweKNz5kDLTzLAX9pLcXURUtYoOIkqcKnfa18U+eqCp4LNvHigVDPvmgQdDk4jAZuYRfxC9WE+/jcBiQssAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: right -1px center;
}

    select:hover:not(.disabled) {
        border: 1px solid rgb(23, 23, 23);
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAGCAIAAAB8eTjrAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAB3SURBVChTY3z68ffhA3ttHZwZUAGmINPHD+/b6quWLJgDFQADIBcoCJSC8iEAaOq1h6/0DIw6J04HsoEIyABygYIQLhyBHADUADQgwt8jOjEVyF46f/aKjTv4BQTBRiEAVCkQQFQDGVjVAQFCKRBAHIdVHQMDAwC7Yk/15Q+VswAAAABJRU5ErkJggg=='), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAbCAIAAAD6Vpj1AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAArSURBVDhPY2SouP60UoWBaMAEpYkGoxqIAaMaiAGjGogBoxqIASRqYGAAABVyAwfdvfTZAAAAAElFTkSuQmCC');
        background-repeat: no-repeat, repeat-y;
        background-position: right -1px center, right center;
    }

    select:active:not(.disabled) {
        border: 1px solid rgb(0, 120, 215) !important;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAGCAIAAAB8eTjrAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABtSURBVChTYzzz5PuNi2c09E0YUAGmINPXL5/XLZp+aOdGqAAYALlAQaAUlA8GTNw8vPmNE47s2gRXDWQAuUBBoBREBAJADgBSQAMm1hfYuPkB2VjVAQFUKRBAVAMZWNUBAUIpEEAch1UdAwMDACQ0PIMtkcZQAAAAAElFTkSuQmCC'), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAbCAIAAAD6Vpj1AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAArSURBVDhPY2QImXlmQhwD0YAJShMNRjUQA0Y1EANGNRADRjUQA0jUwMAAADvsAt3dn+cDAAAAAElFTkSuQmCC');
        background-repeat: no-repeat, repeat-y;
        background-position: right -1px center, right center;
    }

    select:focus {
        border: 1px solid rgb(0, 120, 215) !important;
        outline: none !important;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAGCAIAAAB8eTjrAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABtSURBVChTYzzz5PuNi2c09E0YUAGmINPXL5/XLZp+aOdGqAAYALlAQaAUlA8GTNw8vPmNE47s2gRXDWQAuUBBoBREBAJADgBSQAMm1hfYuPkB2VjVAQFUKRBAVAMZWNUBAUIpEEAch1UdAwMDACQ0PIMtkcZQAAAAAElFTkSuQmCC'), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAbCAIAAAD6Vpj1AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAArSURBVDhPY2QImXlmQhwD0YAJShMNRjUQA0Y1EANGNRADRjUQA0jUwMAAADvsAt3dn+cDAAAAAElFTkSuQmCC');
        background-repeat: no-repeat, repeat-y;
        background-position: right -1px center, right center;
    }

fieldset[scope=groupbox] {
    border: 1px solid rgb(220, 220, 220);
    margin: 0 !important;
}

legend[scope=groupboxlegend] {
    margin-left: 8px;
}

span[scope=label] {
    margin: 0 3px 0 3px;
}

div[scope=form] {
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 1px 14px -2px rgba(0,0,0,0.33);
    /*border-top: solid 27px rgb(0, 120, 215);
    border-left: solid 1px rgb(0, 120, 215);
    border-right: solid 1px rgb(0, 120, 215);
    border-bottom: solid 1px rgb(0, 120, 215);*/
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 120, 215);
    border-top-style: solid;
    border-top-color: rgb(0, 120, 215);
    border-right-style: solid;
    border-right-color: rgb(0, 120, 215);
    border-left-style: solid;
    border-left-color: rgb(0, 120, 215);
}

ul[scope=tabcontrol] {
    border-bottom: solid 1px rgb(217, 217, 217);
    margin: 0;
}

div[scope=tabpage] {
    background-color: white;
    border-top: solid 1px rgb(217, 217, 217);
    left: 0 !important;
    width: 100% !important;
    border-left: solid 1px rgb(217, 217, 217);
    border-right: solid 1px rgb(217, 217, 217);
}

a[scope=tabpageheader] {
    padding-top: 4px !important;
    margin-left: -2px;
}

    a[scope=tabpageheader]:not(.active) {
        background-color: rgb(240, 240, 240);
        border-top: solid 1px rgb(217, 217, 217);
        border-right: solid 1px rgb(217, 217, 217);
        border-left: solid 1px rgb(217, 217, 217);
        padding-bottom: 2px !important;
        padding-left: 4px !important;
        padding-right: 4px !important;
        top: 2px !important;
    }

    a[scope=tabpageheader].first {
        margin-left: 0 !important;
    }

    a[scope=tabpageheader]:not(.active):hover {
        background-color: rgb(216, 234, 249);
    }

    a[scope=tabpageheader].active {
        background-color: white;
        border-bottom: solid 1px white;
        border-top: solid 1px rgb(217, 217, 217);
        border-right: solid 1px rgb(217, 217, 217);
        top: 0 !important;
        padding-bottom: 5px !important;
        border-left: solid 1px rgb(217, 217, 217);
        padding-left: 7px !important;
        padding-right: 7px !important;
    }

    a[scope=tabpageheader]:focus {
        outline: none;
    }

a[scope=tabpageheader] {
    cursor: default;
}

div[scope=form-close]:before {
    content: '\2A09';
}

div[scope=form-close]:hover {
    background-color: rgb(232, 17, 35);
}

div[scope=form-min]:before {
    content: '\1F5D5';
}


div[scope=form-min]:hover {
    background-color: rgb(26, 134, 219);
}

div.form-button {
    transition: background-color 0.2s ease;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    color: white;
    font-weight: lighter;
}

div[scope=form-restore]:before {
    content: '\25F1';
}

div[scope=form-restore]:hover {
    background-color: rgb(26, 134, 219);
}

div[scope=form-max]:before {
    content: '\1F5D6';
}

div[scope=form-max]:hover {
    background-color: rgb(26, 134, 219);
}

span[scope=form-title] {
    color: white;
}
