<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge" version="16.8.2" targetFramework="net462" />
  <package id="Bridge.Core" version="16.8.2" targetFramework="net462" />
  <package id="Bridge.Html5" version="16.8.2" targetFramework="net462" />
  <package id="Bridge.Min" version="16.8.2" targetFramework="net462" />
  <package id="Retyped" version="1.4.6556" targetFramework="net462" />
  <package id="Retyped.Core" version="1.4.6556" targetFramework="net462" />
  <package id="Retyped.dom" version="2.3.6556" targetFramework="net462" />
  <package id="Retyped.es5" version="2.3.6556" targetFramework="net462" />
  <package id="Retyped.jquery" version="2.0.6556" targetFramework="net462" />
  <package id="Retyped.scripthost" version="2.3.6556" targetFramework="net462" />
</packages>